/*====== Variables ========*/
$color_border: #bfbfbf;
$color_arrow: #868686;
$color_option_hover: #eaeaea;
/*====== End variables ========*/

select.selexion-select {
    visibility: hidden;
}

.selexion {
    width: 100%;
    position: relative;

    &__selected-text {
        padding: 10px;
        border: 1px solid $color_border;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            margin-top: -6px;
            border-right: 1px solid $color_arrow;
            border-bottom: 1px solid $color_arrow;
            transform: rotate(45deg);
            transition: all 0.2s ease;
        }

        &.dropdown-active {
            &::after {
                margin-top: 3px;
                transform: rotate(225deg);
            }
        }
    }

    &__options {
        display: none;
        position: absolute;
        top: 38px;
        left: 0;
        width: 100%;
        border: 1px solid $color_border;
        border-top: none;
        background-color: #ffffff;
        border-radius: 0 0 3px 3px;
        box-sizing: border-box;
        max-height: 180px;
        overflow-y: auto;
        box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #d3d3d3;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
        }

        &--up {
            top: auto;
            bottom: 38px;
            border-top: 1px solid $color_border;
            border-bottom: none;
            border-radius: 3px 3px 0 0;
            box-shadow: 1px -2px 3px 1px rgba(0, 0, 0, 0.1);
        }

        &.dropdown-active {
            display: block;
        }
    }

    &__option {
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover,
        &.selected {
            background-color: $color_option_hover;
        }
    }

    select {
        display: none;
    }
}
